.list {
  list-style: none;
  width: 100%;
}
.listWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.listHeadWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1em, 1fr));
  align-items: center;
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.listHeadText {
  font-weight: 600;
}
.listHeadWrapper > span {
  text-align: right;
}

.infoText {
  color: rgba(0, 0, 0, 0.2);
  font-size: 2rem;
  margin: 40px 0;
  font-weight: 600;
}
